<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name ="Personal lOAN">
</test>
  <test thread-count="5" name="Test">
    <classes>
      <class name="introductiontoTestng.method1"/>
      <methods>
      <exclude name = "demo1"/>
      </methods>
      <class name="introductiontoTestng.method2"/>
    </classes>
  </test>
 
  <test name = "car loan">
  <classes name ="introductiontoTestng.method3">
  </classes>
</test></suite>
